@import "tailwindcss";

@theme {
  --color-primary: #31b8c6;
  --color-primary-hover: #2ba6b3;
  --animate-fade-in: fade-in 0.3s ease-out;

  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-4px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}